.report-card {
  cursor: pointer;
  overflow: hidden;
}

.report-card-banner {
  width: 100%;
  height: 80px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.report-card .text-success,
.report-card .text-warning,
.report-card .text-danger {
  margin-right: 0.5rem;
}
