.report-banner {
  position: relative;
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center bottom 40%;
  background-repeat: no-repeat;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.banner-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, transparent 100%);
  padding: 2rem 0;
}
